*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --black: #000000;
    --light-black: #1F1F1F;
    --white: #ffffff;
    --off-white: #F3F0F0;

    --open-transition: all 400ms ease;
    --ease-transition: all 250ms ease;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    /* background: #fffee9; */
    background: var(--white);
    color: var(--black);
    position: relative;
}

img {
    max-width: 100%;
}

a{
    text-decoration: none;
}

.container {
    width: min(1100px, 90%);
    margin: 0 auto;
    /* border: 2px solid; */
}

.row {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

/* home page */
/* NAVIGATION */

.header {
    padding: 1.25em 0;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 18px;
}

.nav-toggle {
    background: transparent;
    border: none;
}

.nav-list {
    /* border: 2px solid; */
    padding: 0;
    margin: 2em 0;
    list-style: none;
}

.nav {
    background: var(--white);
    height: 0;
    overflow: hidden;
    transition: var(--open-transition);
}

.show-nav {
    height: 15rem;
}

.nav-item + .nav-item{
    margin-top: 2.5em;
}

.nav-link {
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--black)
}

.nav-link:focus,
.nav-link:hover {
    text-shadow: 1.5px 1.5px rgb(180, 180, 180);
}

/* MAIN SECTION */

.main {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    margin: 0;
    line-height: 0.8;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(3.5rem, 15vw, 12rem);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    opacity: 0;
    padding-left: 0;
    animation: fade-up 250ms ease-in 1s forwards;
}

.title span {
    color: var(--light-black);
}

.title-text {
    width: min(500px, 90%);
    margin: 1.75em 0;
    color: var(--light-black);
    font-weight: 500;
    font-size: clamp(1rem, 2vw, 1.125rem);
    opacity: 0;
    animation: fade-up 250ms ease-in 1.5s forwards;
}

.primary-btn {
    display: inline-block;
    font-size: 0.875rem;
    color: black;
    border: 2px solid var(--black);
    padding: 0.75em 1.25em;
    transition: var(--ease-transition);
    opacity: 0;
    animation: fade-up 250ms ease-in 2s forwards;
}

.primary-btn:focus,
.primary-btn:hover {
    color: var(--white);
    background: var(--black);
}

.box {
    border: 2px solid grey;
}

.footer {
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons {
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    animation: fade-up 250ms ease-in 2.5s forwards;

    display: flex;
    justify-content: center;
}

.icon {
    margin: 1em;
    width: 27px;
    height: 27px;
    transition: var(--ease-transition);
}

.icon:focus,
.icon:hover {
    transform: scale(0.9);
}

.section-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    padding-bottom: 0.5em;
    border-bottom: 2px solid var(--black);
}

.section-text {
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.75em;
}

@media (min-width: 800px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5em 0;
    }

    .title {
        margin: 0 0 0 -15px;
    }

    .nav-toggle {
        display: none;
    }

    .nav {
        height: auto;
    }

    .nav-list {
        margin: 0;
        display: flex;
    }

    .nav-item + .nav-item{
        margin: 0 0 0 3.5em;
    }
}


/**
    ABOUT PAGE STYLES
**/

.about {
    padding: 1.5em 0;
}

.left {
    width: 100%;
    min-height: 350px;
    border-radius: 20px;
    background: url('../images/megharajesh-1.jpg') no-repeat;
    background-size: cover;
    background-position: bottom;
    opacity: 0;
    animation: fade-up 250ms ease-in 1s forwards;
}

.right {
    margin-top: 1.5em;
    opacity: 0;
    animation: fade-up 250ms ease-in 1.5s forwards;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


@media (min-width: 800px) {
    .about {
        min-height: 80vh;
    }

    .row {
        flex-direction: row;
        align-items: flex-start;
    }

    .left {
        min-height: 60vh;
        width: 45%;
        margin-right: 2em;
    }

    .right {
        margin-top: 0;
        width: 57%;
    }

    .section-text {
        font-size: 1rem;
    }

}



@keyframes fade-up {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
