*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --black: #000000;
    --light-black: #1F1F1F;
    --white: #ffffff;
    --off-white: #F3F0F0;

    --open-transition: all 400ms ease;
    --ease-transition: all 250ms ease;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: var(--white);
    color: var(--black);
}

img {
    max-width: 100%;
}

a{
    text-decoration: none;
}
/* 
.wrapper {
    min-height: 100vh;
} */

.container {
    width: min(1320px, 90%);
    margin: 0 auto;
    /* border: 2px solid; */
}

.row {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

/* home page */
/* NAVIGATION */

.header {
    min-height: 10vh;
    /* padding: 1.5em 0; */
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 18px;
}

.nav-toggle {
    background: transparent;
    border: none;
}

.nav-list {
    /* border: 2px solid; */
    padding: 0;
    margin: 2em 0;
    list-style: none;
}

.nav {
    background: var(--white);
    height: 0;
    overflow: hidden;
    transition: var(--open-transition);
}

.show-nav {
    height: 14rem;
}

.nav-item + .nav-item{
    margin-top: 2.25em;
}

.nav-link {
    font-size: 0.875rem;
    font-weight: 700;
    color: var(--black)
}

.nav-link:focus,
.nav-link:hover {
    text-shadow: 2px 2px rgb(199, 199, 199);
}

/* MAIN SECTION */

.main {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    margin: 0;
    line-height: 0.9;
    font-weight: 700;
    font-size: max(4rem, 9rem);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    opacity: 0;
    animation: fade-up 250ms ease-in 1s forwards;
}

.title span {
    padding: 0;
    color: var(--light-black);
}

.title-text {
    width: min(600px, 80%);
    margin: 1.5em 0;
    color: var(--light-black);
    font-weight: 500;
    font-size: max(0.935rem, 1.25rem);
    opacity: 0;
    animation: fade-up 250ms ease-in 1.5s forwards;
}

.primary-btn {
    display: inline-block;
    font-size: 0.875rem;
    color: black;
    border: 2px solid var(--black);
    padding: 0.75em 1.25em;
    transition: var(--ease-transition);
    opacity: 0;
    animation: fade-up 250ms ease-in 2s forwards;
}

.primary-btn:focus,
.primary-btn:hover {
    color: var(--white);
    background: var(--black);
}

.footer {
    min-height: 10vh;
}

.icons {
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    animation: fade-up 250ms ease-in 2.5s forwards;

    display: flex;
    justify-content: center;
}

.icon {
    margin: 1em;
    width: 27px;
    height: 27px;
    transition: var(--ease-transition);
}

.icon:focus,
.icon:hover {
    transform: scale(0.9);
}


@keyframes fade-up {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


@media (min-width: 800px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-toggle {
        display: none;
    }

    .nav {
        height: auto;
    }

    .nav-list {
        margin: 0;

        display: flex;
    }

    .nav-item + .nav-item{
        margin: 0 0 0 2em;
    }
}