*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --black: #000000;
    --light-black: #1F1F1F;
    --white: #ffffff;
    --off-white: #F3F0F0;

    --open-transition: all 400ms ease;
    --ease-transition: all 250ms ease;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: var(--white);
    color: var(--black);
}

img {
    max-width: 100%;
}

a{
    text-decoration: none;
}

.wrapper {
    min-height: 100vh;
}

.container {
    width: 90%;
    max-width: 1320px;
    margin: 0 auto;
    /* border: 2px solid; */
}

.row {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

/* home page */
/* NAVIGATION */

.header {
    padding: 1.25em 0;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 24px;
}

.nav-toggle {
    background: transparent;
    border: none;
}

.nav-list {
    /* border: 2px solid; */
    padding: 0;
    margin: 2em 0;
    list-style: none;
}

.nav {
    /* position: absolute;
    width: 100%; */
    background: var(--white);
    height: 0;
    overflow: hidden;
    transition: var(--open-transition);
}

.show-nav {
    height: 14rem;
}

.nav-item + .nav-item{
    margin-top: 2.25em;
}

.nav-link {
    font-size: 0.875rem;
    font-weight: 700;
    color: var(--black)
}

.nav-link:focus,
.nav-link:hover {
    text-shadow: 2px 2px rgb(199, 199, 199);
}

/* MAIN SECTION */

.main {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    margin: 0;
    font-weight: 700;
    font-size: 4rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    opacity: 0;
    animation: fade-up 200ms ease-in forwards;
}

.title span {
    padding: 0;
    color: var(--light-black);
}

.title-text {
    margin: 1em 0;
    color: var(--light-black);
    font-weight: 500;
    font-size: 0.935rem;
    opacity: 0;
    animation: fade-up 200ms ease-in 400ms forwards;
}

.primary-btn {
    display: inline-block;
    font-size: 0.875rem;
    color: black;
    border: 2px solid var(--black);
    padding: 0.75em 1.25em;
    transition: var(--ease-transition);
    opacity: 0;
    animation: fade-up 200ms ease-in 800ms forwards;
}

.primary-btn:focus,
.primary-btn:hover {
    color: var(--white);
    background: var(--black);
}

.icons {
    padding: 0;
    margin: 0;
    list-style: none;

    display: flex;
    justify-content: center;
}

.icon {
    margin: 1em;
    width: 30px;
    height: 30px;
    transition: var(--ease-transition);
}

.icon:focus,
.icon:hover {
    transform: scale(0.9);
}

.twt{
    background: url('./images/twitter-brand.svg') no-repeat;
    background-size: cover;
}
.lin{
    background: url('./images/linkedin-brand.svg') no-repeat;
    background-size: cover;
}
.mail{
    background: url('./images/envelope.svg') no-repeat;
    background-size: cover;
}


@keyframes fade-up {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}